.ant-layout-header.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  padding: 0 1rem;

  a {
    font-size: 1.2rem;
    font-weight: bold;
  }

  div {
    display: flex;
    vertical-align: middle;
    height: 100%;

    * {
      margin: auto 0.5rem;
    }
  }

  h3.ant-typography {
    margin: auto 0 !important;
  }

  div.ant-typography {
    font-size: 1.6rem;
  }
}

.ant-layout.layout {
  min-height: 100vh;
  // background-color: #444;
  // color: white;
}

.ant-avatar {
  display: flex;

  * {
    margin: auto;
    padding: 0;
  }
}

.ant-layout-content {
  max-width: 900px;
  margin: auto;
}
